@import "compass/reset";
body
{
    max-width: 100vw;
    overflow-x: hidden;
}
$totalWidthAqi : 300;
$AqiLeveWidth50 : (100% / $totalWidthAqi) * 50;
$AqiLeveWidth100 : (100% / $totalWidthAqi) * 100;

$totalWidthPM25 : 58;
$PM25LeveWidth11 : (100% / $totalWidthPM25) * 11;
$PM25LeveWidth12 : (100% / $totalWidthPM25) * 12;
$PM25LeveWidth6 : (100% / $totalWidthPM25) * 6;
$PM25LeveWidth5 : (100% / $totalWidthPM25) * 5;

$totalWidthPM10 : 91;
$PM10LeveWidth17 : (100% / $totalWidthPM10) * 17;
$PM10LeveWidth8 : (100% / $totalWidthPM10) * 8;
$PM10LeveWidth9 : (100% / $totalWidthPM10) * 9;
$PM10LeveWidth7 : (100% / $totalWidthPM10) * 7;

.container {
    max-width: 600px;
    margin: 0 auto;
    .menus{
        text-align: center;
        .menuitem{
            margin: 20px 1px;
            font-family: Microsoft JhengHei;
            font-weight: bold;
            font-size: 20px;
            .selectbox {
                //width:100px;
                select{
                        width: 100px;
                        height: 36px;
                        font-size: 17px;
                        option{
                            text-align:center;
                        }
                }
            }
        }
    }
    .subjectpanel{
        margin: 30px auto;
        .subject{
            text-align: center;
            font-size: 22px;
            font-family: sans-serif;
            font-weight: bold;
            .subjectval{
                color: #03a9f4;
            }
        }
        .levelbar{
            .Indicators{
                color: red;
                width: 30px;
                text-align: center;
                .airval{
                    border: 1px solid #673ab7;
                    border-radius: 13px;
                    height: 24px;
                    line-height: 24px;
                    background: #3F51B5;
                    color: #f9ee91;
                    position: relative;
                    top: 7px;
                }
            }
            &.levelaqi{
                font-size: 17px;
                font-weight: bold;
                font-family: sans-serif;
                .level{
                    display: inline-block;
                    width: 16.6vw;
                    text-align: center;
                    background-color: #00e400;
                    line-height: 42px;
                    &.level1{
                        background-color:#00e400;
                        width: $AqiLeveWidth50;
                    }
                    &.level2{
                        background-color:#ff0;
                        width: $AqiLeveWidth50;
                    }
                    &.level3{
                        background-color:#ff7e00;
                        width: $AqiLeveWidth50;
                    }
                    &.level4{
                        background-color:#f00;
                        width: $AqiLeveWidth50;
                    }
                    &.level5{
                        background-color:#99004c;
                        width: $AqiLeveWidth100;
                    }
                    /*&.level6{
                        background-color:#7e0023;
                        width: calc((100vw / 500) * 200);
                    }*/
                }
            }
            &.levelpm25{
                font-size: 17px;
                font-weight: bold;
                font-family: sans-serif;
                .level{
                    display: inline-block;
                    width: 16.6vw;
                    text-align: center;
                    background-color: #9cff9c;
                    line-height: 42px;
                    &.level1{
                        background-color:#9cff9c;
                        width: $PM25LeveWidth11;
                    }
                    &.level2{
                        background-color:#31ff00;
                        width: $PM25LeveWidth12;
                    }
                    &.level3{
                        background-color:#31cf00;
                        width: $PM25LeveWidth12;
                    }
                    &.level4{
                        background-color:#ff0;
                        width: $PM25LeveWidth6;
                        font-size: 12px;
                    }
                    &.level5{
                        background-color:#ffcf00;
                        width: $PM25LeveWidth6;
                        font-size: 12px;
                    }
                    &.level6{
                        background-color:#ff9a00;
                        width: $PM25LeveWidth6;
                        font-size: 12px;
                    }
                    &.level7{
                        background-color:#ff6464;
                        width: $PM25LeveWidth5;
                        font-size: 12px;
                    }
                    &.level8{
                        background-color:#99004c;
                        width: $PM25LeveWidth6;
                        font-size: 12px;
                    }
                    &.level9{
                        background-color:#99004c;
                        width: $PM25LeveWidth6;
                        font-size: 12px;
                    }
                    &.level10{
                        background-color:#99004c;
                        width: 1px;
                    }
                }
            }
            &.levelpm10{
                font-size: 17px;
                font-weight: bold;
                font-family: sans-serif;
                .level{
                    display: inline-block;
                    width: 16.6vw;
                    text-align: center;
                    background-color: #9cff9c;
                    line-height: 42px;
                    &.level1{
                        background-color:#9cff9c;
                        width: $PM10LeveWidth17;
                    }
                    &.level2{
                        background-color:#31ff00;
                        width: $PM10LeveWidth17;
                    }
                    &.level3{
                        background-color:#31cf00;
                        width: $PM10LeveWidth17;
                    }
                    &.level4{
                        background-color:#ff0;
                        width: $PM10LeveWidth8;
                        font-size: 12px;
                    }
                    &.level5{
                        background-color:#ffcf00;
                        width: $PM10LeveWidth8;
                        font-size: 12px;
                    }
                    &.level6{
                        background-color:#ff9a00;
                        width: $PM10LeveWidth9;
                        font-size: 12px;
                    }
                    &.level7{
                        background-color:#ff6464;
                        width: $PM10LeveWidth8;
                        font-size: 12px;
                    }
                    &.level8{
                        background-color:#ff0000;
                        width: $PM10LeveWidth7;
                        font-size: 12px;
                    }
                    /*&.level9{
                        background-color:#99004c;
                        width: $PM25LeveWidth6;
                        font-size: 12px;
                    }
                    &.level10{
                        background-color:#99004c;
                        width: 1px;
                    }*/
                }
            }
        }
    }
}

.referencelist{
    overflow-x: hidden;
    word-wrap:break-word;
    padding: 10px;
}