
@{
    Layout = null;
}

<div>
    空氣品質
</div>
<div id="Menus">
    <select ng-model="selectedCounty" ng-options="county for county in Countys" ng-change="initSides()"></select>
    <select ng-model="selectedSide" ng-options="side for side in Sides" ng-change="initAQI()"></select>
</div>
<div>
   AQI: {{AQI.AQI}}
    <div class="levelbar">
        <level-bar-aqi levelbar-indexval="{{ levelbar.indexval }}"
                       levelbar-rangetext="{{ levelbar.rangetext }}"
                       ng-repeat="levelbar in aqiranges">
        </level-bar-aqi>
    </div>
</div>
<div>
   PM2.5: {{AQI._PM2point5}}
    <br>
    1-11
    12-23
    24-35
    36-41
    42-47
    48-53
    54-58
    59-64
    65-70
    71
</div>
<div>
   PM10: {{AQI.PM10}}
</div>
