/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/main.scss */
.container {
  max-width: 600px;
  margin: 0 auto;
}
/* line 25, ../sass/main.scss */
.container .menus .menuitem {
  margin: 20px 1px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  font-size: 20px;
}
/* line 32, ../sass/main.scss */
.container .menus .menuitem .selectbox select {
  width: 100px;
  font-size: 15px;
}
/* line 35, ../sass/main.scss */
.container .menus .menuitem .selectbox select option {
  text-align: center;
}
/* line 42, ../sass/main.scss */
.container .subjectpanel {
  margin: 30px auto;
}
/* line 44, ../sass/main.scss */
.container .subjectpanel .subject {
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
}
/* line 49, ../sass/main.scss */
.container .subjectpanel .subject .subjectval {
  color: #03a9f4;
}
/* line 54, ../sass/main.scss */
.container .subjectpanel .levelbar .Indicators {
  color: red;
  width: 30px;
  text-align: center;
}
/* line 58, ../sass/main.scss */
.container .subjectpanel .levelbar .Indicators .airval {
  border: 1px solid #673ab7;
  border-radius: 13px;
  height: 24px;
  line-height: 24px;
  background: #3F51B5;
  color: #f9ee91;
  position: relative;
  top: 7px;
}
/* line 69, ../sass/main.scss */
.container .subjectpanel .levelbar.levelaqi {
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
}
/* line 73, ../sass/main.scss */
.container .subjectpanel .levelbar.levelaqi .level {
  display: inline-block;
  width: 16.6vw;
  text-align: center;
  background-color: #00e400;
  line-height: 42px;
  /*&.level6{
      background-color:#7e0023;
      width: calc((100vw / 500) * 200);
  }*/
}
/* line 79, ../sass/main.scss */
.container .subjectpanel .levelbar.levelaqi .level.level1 {
  background-color: #00e400;
  width: 16.66667%;
}
/* line 83, ../sass/main.scss */
.container .subjectpanel .levelbar.levelaqi .level.level2 {
  background-color: #ff0;
  width: 16.66667%;
}
/* line 87, ../sass/main.scss */
.container .subjectpanel .levelbar.levelaqi .level.level3 {
  background-color: #ff7e00;
  width: 16.66667%;
}
/* line 91, ../sass/main.scss */
.container .subjectpanel .levelbar.levelaqi .level.level4 {
  background-color: #f00;
  width: 16.66667%;
}
/* line 95, ../sass/main.scss */
.container .subjectpanel .levelbar.levelaqi .level.level5 {
  background-color: #99004c;
  width: 33.33333%;
}
/* line 105, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 {
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
}
/* line 109, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level {
  display: inline-block;
  width: 16.6vw;
  text-align: center;
  background-color: #9cff9c;
  line-height: 42px;
}
/* line 115, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level1 {
  background-color: #9cff9c;
  width: 18.96552%;
}
/* line 119, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level2 {
  background-color: #31ff00;
  width: 20.68966%;
}
/* line 123, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level3 {
  background-color: #31cf00;
  width: 20.68966%;
}
/* line 127, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level4 {
  background-color: #ff0;
  width: 10.34483%;
  font-size: 12px;
}
/* line 132, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level5 {
  background-color: #ffcf00;
  width: 10.34483%;
  font-size: 12px;
}
/* line 137, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level6 {
  background-color: #ff9a00;
  width: 10.34483%;
  font-size: 12px;
}
/* line 142, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level7 {
  background-color: #ff6464;
  width: 8.62069%;
  font-size: 12px;
}
/* line 147, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level8 {
  background-color: #99004c;
  width: 10.34483%;
  font-size: 12px;
}
/* line 152, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level9 {
  background-color: #99004c;
  width: 10.34483%;
  font-size: 12px;
}
/* line 157, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm25 .level.level10 {
  background-color: #99004c;
  width: 1px;
}
/* line 163, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 {
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
}
/* line 167, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level {
  display: inline-block;
  width: 16.6vw;
  text-align: center;
  background-color: #9cff9c;
  line-height: 42px;
  /*&.level9{
      background-color:#99004c;
      width: $PM25LeveWidth6;
      font-size: 12px;
  }
  &.level10{
      background-color:#99004c;
      width: 1px;
  }*/
}
/* line 173, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level.level1 {
  background-color: #9cff9c;
  width: 18.68132%;
}
/* line 177, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level.level2 {
  background-color: #31ff00;
  width: 18.68132%;
}
/* line 181, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level.level3 {
  background-color: #31cf00;
  width: 18.68132%;
}
/* line 185, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level.level4 {
  background-color: #ff0;
  width: 8.79121%;
  font-size: 12px;
}
/* line 190, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level.level5 {
  background-color: #ffcf00;
  width: 8.79121%;
  font-size: 12px;
}
/* line 195, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level.level6 {
  background-color: #ff9a00;
  width: 9.89011%;
  font-size: 12px;
}
/* line 200, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level.level7 {
  background-color: #ff6464;
  width: 8.79121%;
  font-size: 12px;
}
/* line 205, ../sass/main.scss */
.container .subjectpanel .levelbar.levelpm10 .level.level8 {
  background-color: #ff0000;
  width: 7.69231%;
  font-size: 12px;
}
